.vscode/**
.vscode-test/**
.github/**
src/**
test/**
esbuild.js
tsconfig.json
.eslintrc.js
.gitignore
.prettierrc
**/*.map
PUBLISHING.md
*.vsix
node_modules/typescript/**
node_modules/esbuild/**
node_modules/@esbuild/**
node_modules/eslint/**
node_modules/@eslint/**
node_modules/@typescript-eslint/**
node_modules/mocha/**
node_modules/ts-node/**
node_modules/sharp/**
node_modules/@vscode/**
node_modules/@types/**

